{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2024 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% if links|length > 0 %}
    <div class="text-center">
        <table class="mx-auto table" style="width: 400px">
            <thead>
                <tr>
                    <th>{{ _x('plugin_info', 'Jamf plugin', 'jamf') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for link in links %}
                    <tr>
                        <td>
                            <a href="{{ link.url }}">{{ link.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="text-center">
        <div class="alert alert-warning" role="alert">
            <i class="alert-icon ti ti-alert-triangle fa-2x"></i>
            <p class="alert-title">{{ _x('error', 'You do not have access to any Jamf plugin items', 'jamf') }}</p>
            <p>{{ _x('error', 'Please check your profile permissions', 'jamf') }}</p>
        </div>
    </div>
{% endif %}
